.bio-body {
    margin-top: 170px;
    min-height: auto;
}

.bio-section {
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    margin-top: 5%;
}

.bio-section h1 {
    font-size: 70px;
}

.bio-section p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.bio-introduction {
    margin-bottom: 7%;
}

.bio-introduction p {
    line-height: 30px;
    font-size: 20px;
}

.bio-introduction img {
    height: 350px;
}

.personal-stats {
    height: 200px;
    background-color: antiquewhite;
}

.highlights {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-left: 16%;
}

.highlights h2 {
    margin-bottom: 15px;
}

.highlights ul,
.features ul {
    font-weight: bold;
    font-size: 20px;
    color: #ffde59;
    text-align: left;
    list-style: none;
}


.features img {
    width: 250px;
}

.highlights p strong {
    font-size: 20px;
    color: #fff;
}

.highlights ul li strong {
    font-size: 20px;
    color: #fff;
}

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin-right: 10%;
}

.features h2 {
    margin-bottom: 15px;
}

.features p {
    margin-left: 15%;
    font-weight: bold;
    font-size: 20px;
    color: #ffde59;
}

.highlights-features-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-bottom: 5%;

}

.highlights .titoli-di-studio {
    list-style: disc;
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 4%;
}

.highlights .titoli-di-studio li::marker {
    color: #ffde59;
}

.bio-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 22%;
    margin-right: 22%;
}

.bio-content p {
    line-height: 40px;
    font-size: 20px;
}

.bio-content h2 {
    font-size: 24px;
    color: #fff;
}

.e-invece-no {
    font-weight: bold;
    color: #ffde59;
}

.firma {
    display: flex;
    flex-direction: column;

    text-transform: uppercase;
    font-weight: bold;
    color: #ffde59;
}

