* {
    margin: 0;
    padding: 0;
    font-family: Poppins, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
        url("/assets/images/background-image.jpg");
    background-size: cover;
    background-position: center;
}

body.scrollbar-visible {
    overflow-y: auto;
}


button {
    width: 115px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    border: 4px solid #ffde59;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #ffde59;
    height: 100%;
    width: 0;
    border-radius: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 115px;
}

button:hover {
    border: none;
    color: black;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #ffde59;
    border-radius: 10px;
}